<a href="https://colab.research.google.com/github/mendiang/IYKRA-Data-Science-Fellowship-Batch-6/blob/main/Statistic_Practice_IYKRA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Library

In [6]:
import pandas as pd

#Load Dataset

In [7]:
url = 'https://raw.githubusercontent.com/Syukrondzeko/Fellowship/main/Seasons_Stats.csv'
data = pd.read_csv(url)

In [8]:
data.head()

   Unnamed: 0    Year           Player  Pos   Age  ... STL  BLK  TOV     PF    PTS
0           0  1950.0  Curly Armstrong  G-F  31.0  ... NaN  NaN  NaN  217.0  458.0
1           1  1950.0     Cliff Barker   SG  29.0  ... NaN  NaN  NaN   99.0  279.0
2           2  1950.0    Leo Barnhorst   SF  25.0  ... NaN  NaN  NaN  192.0  438.0
3           3  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   29.0   63.0
4           4  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   27.0   59.0

[5 rows x 53 columns]

In [9]:
data.tail()

       Unnamed: 0    Year             Player Pos  ...   BLK   TOV     PF    PTS
24686       24686  2017.0        Cody Zeller  PF  ...  58.0  65.0  189.0  639.0
24687       24687  2017.0       Tyler Zeller   C  ...  21.0  20.0   61.0  178.0
24688       24688  2017.0  Stephen Zimmerman   C  ...   5.0   3.0   17.0   23.0
24689       24689  2017.0        Paul Zipser  SF  ...  16.0  40.0   78.0  240.0
24690       24690  2017.0        Ivica Zubac   C  ...  33.0  30.0   66.0  284.0

[5 rows x 53 columns]

#Data Preprocessing

In [10]:
#Remove Unnamed: 0 column
data = pd.read_csv(url, index_col=0)
data

         Year             Player  Pos   Age  ...   BLK   TOV     PF    PTS
0      1950.0    Curly Armstrong  G-F  31.0  ...   NaN   NaN  217.0  458.0
1      1950.0       Cliff Barker   SG  29.0  ...   NaN   NaN   99.0  279.0
2      1950.0      Leo Barnhorst   SF  25.0  ...   NaN   NaN  192.0  438.0
3      1950.0         Ed Bartels    F  24.0  ...   NaN   NaN   29.0   63.0
4      1950.0         Ed Bartels    F  24.0  ...   NaN   NaN   27.0   59.0
...       ...                ...  ...   ...  ...   ...   ...    ...    ...
24686  2017.0        Cody Zeller   PF  24.0  ...  58.0  65.0  189.0  639.0
24687  2017.0       Tyler Zeller    C  27.0  ...  21.0  20.0   61.0  178.0
24688  2017.0  Stephen Zimmerman    C  20.0  ...   5.0   3.0   17.0   23.0
24689  2017.0        Paul Zipser   SF  22.0  ...  16.0  40.0   78.0  240.0
24690  2017.0        Ivica Zubac    C  19.0  ...  33.0  30.0   66.0  284.0

[24691 rows x 52 columns]

In [11]:
#Remove blank column name
del data["blanl"]
del data["blank2"]
data

         Year             Player  Pos   Age  ...   BLK   TOV     PF    PTS
0      1950.0    Curly Armstrong  G-F  31.0  ...   NaN   NaN  217.0  458.0
1      1950.0       Cliff Barker   SG  29.0  ...   NaN   NaN   99.0  279.0
2      1950.0      Leo Barnhorst   SF  25.0  ...   NaN   NaN  192.0  438.0
3      1950.0         Ed Bartels    F  24.0  ...   NaN   NaN   29.0   63.0
4      1950.0         Ed Bartels    F  24.0  ...   NaN   NaN   27.0   59.0
...       ...                ...  ...   ...  ...   ...   ...    ...    ...
24686  2017.0        Cody Zeller   PF  24.0  ...  58.0  65.0  189.0  639.0
24687  2017.0       Tyler Zeller    C  27.0  ...  21.0  20.0   61.0  178.0
24688  2017.0  Stephen Zimmerman    C  20.0  ...   5.0   3.0   17.0   23.0
24689  2017.0        Paul Zipser   SF  22.0  ...  16.0  40.0   78.0  240.0
24690  2017.0        Ivica Zubac    C  19.0  ...  33.0  30.0   66.0  284.0

[24691 rows x 50 columns]

In [12]:
#Selecting player data in 2017
data_2017 = data[data['Year']==2017.0]
data_2017

         Year             Player Pos   Age  ...   BLK    TOV     PF    PTS
24096  2017.0       Alex Abrines  SG  23.0  ...   8.0   33.0  114.0  406.0
24097  2017.0         Quincy Acy  PF  26.0  ...  15.0   21.0   67.0  222.0
24098  2017.0         Quincy Acy  PF  26.0  ...   0.0    2.0    9.0   13.0
24099  2017.0         Quincy Acy  PF  26.0  ...  15.0   19.0   58.0  209.0
24100  2017.0       Steven Adams   C  23.0  ...  78.0  146.0  195.0  905.0
...       ...                ...  ..   ...  ...   ...    ...    ...    ...
24686  2017.0        Cody Zeller  PF  24.0  ...  58.0   65.0  189.0  639.0
24687  2017.0       Tyler Zeller   C  27.0  ...  21.0   20.0   61.0  178.0
24688  2017.0  Stephen Zimmerman   C  20.0  ...   5.0    3.0   17.0   23.0
24689  2017.0        Paul Zipser  SF  22.0  ...  16.0   40.0   78.0  240.0
24690  2017.0        Ivica Zubac   C  19.0  ...  33.0   30.0   66.0  284.0

[595 rows x 50 columns]

In [13]:
#Reset Index
data_2017 = data_2017.reset_index(drop=True)
data_2017

       Year             Player Pos   Age   Tm  ...   STL   BLK    TOV     PF    PTS
0    2017.0       Alex Abrines  SG  23.0  OKC  ...  37.0   8.0   33.0  114.0  406.0
1    2017.0         Quincy Acy  PF  26.0  TOT  ...  14.0  15.0   21.0   67.0  222.0
2    2017.0         Quincy Acy  PF  26.0  DAL  ...   0.0   0.0    2.0    9.0   13.0
3    2017.0         Quincy Acy  PF  26.0  BRK  ...  14.0  15.0   19.0   58.0  209.0
4    2017.0       Steven Adams   C  23.0  OKC  ...  88.0  78.0  146.0  195.0  905.0
..      ...                ...  ..   ...  ...  ...   ...   ...    ...    ...    ...
590  2017.0        Cody Zeller  PF  24.0  CHO  ...  62.0  58.0   65.0  189.0  639.0
591  2017.0       Tyler Zeller   C  27.0  BOS  ...   7.0  21.0   20.0   61.0  178.0
592  2017.0  Stephen Zimmerman   C  20.0  ORL  ...   2.0   5.0    3.0   17.0   23.0
593  2017.0        Paul Zipser  SF  22.0  CHI  ...  15.0  16.0   40.0   78.0  240.0
594  2017.0        Ivica Zubac   C  19.0  LAL  ...  14.0  33.0   30.0   66.0  284.0

[595 rows x 50 columns]

In [14]:
#Drop duplicate data according to the player name
data_2017.drop_duplicates(subset ="Player",inplace = True)

#Reset index
data_2017 = data_2017.reset_index(drop=True)

data_2017

       Year             Player Pos   Age   Tm  ...   STL   BLK    TOV     PF    PTS
0    2017.0       Alex Abrines  SG  23.0  OKC  ...  37.0   8.0   33.0  114.0  406.0
1    2017.0         Quincy Acy  PF  26.0  TOT  ...  14.0  15.0   21.0   67.0  222.0
2    2017.0       Steven Adams   C  23.0  OKC  ...  88.0  78.0  146.0  195.0  905.0
3    2017.0      Arron Afflalo  SG  31.0  SAC  ...  21.0   7.0   42.0  104.0  515.0
4    2017.0      Alexis Ajinca   C  28.0  NOP  ...  20.0  22.0   31.0   77.0  207.0
..      ...                ...  ..   ...  ...  ...   ...   ...    ...    ...    ...
481  2017.0        Cody Zeller  PF  24.0  CHO  ...  62.0  58.0   65.0  189.0  639.0
482  2017.0       Tyler Zeller   C  27.0  BOS  ...   7.0  21.0   20.0   61.0  178.0
483  2017.0  Stephen Zimmerman   C  20.0  ORL  ...   2.0   5.0    3.0   17.0   23.0
484  2017.0        Paul Zipser  SF  22.0  CHI  ...  15.0  16.0   40.0   78.0  240.0
485  2017.0        Ivica Zubac   C  19.0  LAL  ...  14.0  33.0   30.0   66.0  284.0

[486 rows x 50 columns]

In [15]:
#Identify null value
data_2017.isnull().sum()

Year       0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
PER        0
TS%        1
3PAr       1
FTr        1
ORB%       0
DRB%       0
TRB%       0
AST%       0
STL%       0
BLK%       0
TOV%       1
USG%       0
OWS        0
DWS        0
WS         0
WS/48      0
OBPM       0
DBPM       0
BPM        0
VORP       0
FG         0
FGA        0
FG%        1
3P         0
3PA        0
3P%       36
2P         0
2PA        0
2P%        2
eFG%       1
FT         0
FTA        0
FT%       15
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

In [16]:
#Identify column data type
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    486 non-null    float64
 1   Player  486 non-null    object
 2   Pos     486 non-null    object
 3   Age     486 non-null    float64
 4   Tm      486 non-null    object
 5   G       486 non-null    float64
 6   GS      486 non-null    float64
 7   MP      486 non-null    float64
 8   PER     486 non-null    float64
 9   TS%     485 non-null    float64
 10  3PAr    485 non-null    float64
 11  FTr     485 non-null    float64
 12  ORB%    486 non-null    float64
 13  DRB%    486 non-null    float64
 14  TRB%    486 non-null    float64
 15  AST%    486 non-null    float64
 16  STL%    486 non-null    float64
 17  BLK%    486 non-null    float64
 18  TOV%    485 non-null    float64
 19  USG%    486 non-null    float64
 20  OWS     486 non-null    float64
 21  DWS     486 non-null    float64
 22  WS      486 non-null    float64
 23  WS/48   486 non-null    float64
 24  OBPM    486 non-null    float64
 25  DBPM    486 non-null    float64
 26  BPM     486 non-null    float64
 27  VORP    486 non-null    float64
 28  FG      486 non-null    float64
 29  FGA     486 non-null    float64
 30  FG%     485 non-null    float64
 31  3P      486 non-null    float64
 32  3PA     486 non-null    float64
 33  3P%     450 non-null    float64
 34  2P      486 non-null    float64
 35  2PA     486 non-null    float64
 36  2P%     484 non-null    float64
 37  eFG%    485 non-null    float64
 38  FT      486 non-null    float64
 39  FTA     486 non-null    float64
 40  FT%     471 non-null    float64
 41  ORB     486 non-null    float64
 42  DRB     486 non-null    float64
 43  TRB     486 non-null    float64
 44  AST     486 non-null    float64
 45  STL     486 non-null    float64
 46  BLK     486 non-null    float64
 47  TOV     486 non-null    float64
 48  PF      486 non-null    float64
 49  PTS     486 non-null    float64
dtypes: float64(47), object(3)
memory usage: 190.0+ KB

In [17]:
#Replacing all null value with 0.0
data_2017.fillna(0.0, inplace = True)
data_2017.isnull().sum()

Year      0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [18]:
#Convert data type
data_2017 = data_2017.astype({"Year": int, "Age": int, "FG": int, "FGA": int, "2P": int, 
                    "2PA": int, "FT": int, "ORB": int, "DRB": int, "TRB": int,
                    "AST": int, "STL": int, "BLK": int, "TOV": int, "PF": int,
                    "PTS": int})
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    486 non-null    int64
 1   Player  486 non-null    object
 2   Pos     486 non-null    object
 3   Age     486 non-null    int64
 4   Tm      486 non-null    object
 5   G       486 non-null    float64
 6   GS      486 non-null    float64
 7   MP      486 non-null    float64
 8   PER     486 non-null    float64
 9   TS%     486 non-null    float64
 10  3PAr    486 non-null    float64
 11  FTr     486 non-null    float64
 12  ORB%    486 non-null    float64
 13  DRB%    486 non-null    float64
 14  TRB%    486 non-null    float64
 15  AST%    486 non-null    float64
 16  STL%    486 non-null    float64
 17  BLK%    486 non-null    float64
 18  TOV%    486 non-null    float64
 19  USG%    486 non-null    float64
 20  OWS     486 non-null    float64
 21  DWS     486 non-null    float64
 22  WS      486 non-null    float64
 23  WS/48   486 non-null    float64
 24  OBPM    486 non-null    float64
 25  DBPM    486 non-null    float64
 26  BPM     486 non-null    float64
 27  VORP    486 non-null    float64
 28  FG      486 non-null    int64
 29  FGA     486 non-null    int64
 30  FG%     486 non-null    float64
 31  3P      486 non-null    float64
 32  3PA     486 non-null    float64
 33  3P%     486 non-null    float64
 34  2P      486 non-null    int64
 35  2PA     486 non-null    int64
 36  2P%     486 non-null    float64
 37  eFG%    486 non-null    float64
 38  FT      486 non-null    int64
 39  FTA     486 non-null    float64
 40  FT%     486 non-null    float64
 41  ORB     486 non-null    int64
 42  DRB     486 non-null    int64
 43  TRB     486 non-null    int64
 44  AST     486 non-null    int64
 45  STL     486 non-null    int64
 46  BLK     486 non-null    int64
 47  TOV     486 non-null    int64
 48  PF      486 non-null    int64
 49  PTS     486 non-null    int64
dtypes: float64(31), int64(16), object(3)
memory usage: 190.0+ KB

#Question Number 1
###Who is the youngest and oldest in the NBA in 2017 for each team (Tm)?

In [26]:
#Slicing data to get necessary column and value
data_young = data_2017[['Player','Tm','Age']].groupby(['Tm']).min().sort_values(by='Tm').reset_index()
data_old = data_2017[['Player','Tm','Age']].groupby(['Tm']).max().sort_values(by='Tm').reset_index()

In [28]:
data_young

     Tm            Player  Age
0   ATL   DeAndre' Bembry   22
1   BOS        Al Horford   20
2   BRK   Anthony Bennett   21
3   CHI      Bobby Portis   21
4   CHO    Aaron Harrison   21
5   CLE     Channing Frye   21
6   DAL      A.J. Hammons   21
7   DEN        Alonzo Gee   19
8   DET    Andre Drummond   20
9   GSW  Anderson Varejao   20
10  HOU       Bobby Brown   20
11  IND      Aaron Brooks   20
12  LAC     Alan Anderson   19
13  LAL    Brandon Ingram   19
14  MEM   Andrew Harrison   20
15  MIA      Dion Waiters   20
16  MIL       Gary Payton   19
17  MIN     Adreian Payne   20
18  NOP     Alexis Ajinca   20
19  NYK   Carmelo Anthony   21
20  OKC      Alex Abrines   20
21  ORL      Aaron Gordon   20
22  PHI    Alex Poythress   21
23  PHO     Alan Williams   19
24  POR   Al-Farouq Aminu   21
25  SAC  Anthony Tolliver   19
26  SAS       Bryn Forbes   20
27  TOR     Bruno Caboclo   21
28  TOT      Andrew Bogut   21
29  UTA        Alec Burks   21
30  WAS      Bradley Beal   21

In [29]:
data_old

     Tm                   Player  Age
0   ATL             Tim Hardaway   32
1   BOS             Tyler Zeller   31
2   BRK            Trevor Booker   36
3   CHI              Robin Lopez   35
4   CHO           Treveon Graham   31
5   CLE         Tristan Thompson   38
6   DAL          Wesley Matthews   38
7   DEN          Wilson Chandler   36
8   DET            Tobias Harris   34
9   GSW            Zaza Pachulia   36
10  HOU             Trevor Ariza   34
11  IND           Thaddeus Young   32
12  LAC           Wesley Johnson   39
13  LAL           Timofey Mozgov   37
14  MEM            Zach Randolph   40
15  MIA              Willie Reed   36
16  MIL               Tony Snell   39
17  MIN              Zach LaVine   34
18  NOP              Tim Frazier   33
19  NYK        Willy Hernangomez   32
20  OKC           Victor Oladipo   36
21  ORL        Stephen Zimmerman   32
22  PHI  Timothe Luwawu-Cabarrot   32
23  PHO           Tyson Chandler   34
24  POR           Tim Quarterman   28
25  SAC      Willie Cauley-Stein   31
26  SAS              Tony Parker   39
27  TOR        Patrick Patterson   30
28  TOT             Yogi Ferrell   36
29  UTA               Trey Lyles   35
30  WAS               Trey Burke   32

#Question Number 2
###Which player has the most minutes played (MP) in each position (Pos)?

In [30]:
#List of Most Minutes Played in each position
data_MP = data_2017.groupby('Pos')[['Player','MP']].max()

data_MP

                 Player      MP
Pos
C         Zaza Pachulia  3030.0
PF        Zach Randolph  2803.0
PF-C  Joffrey Lauvergne   980.0
PG         Yogi Ferrell  2947.0
SF      Wilson Chandler  3048.0
SG          Zach LaVine  2796.0

#Question Number 3
###Which team has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)?

In [31]:
#Set the average of each Team
data_highestaverage = data_2017[['Tm','TRB%','AST%','STL%','BLK%']].groupby(['Tm']).mean().reset_index()
data_highestaverage

     Tm       TRB%       AST%      STL%      BLK%
0   ATL   9.680000  14.120000  1.500000  1.693333
1   BOS  10.360000  14.573333  1.366667  1.493333
2   BRK   9.757143  15.000000  1.457143  1.400000
3   CHI   9.738462  13.061538  1.584615  1.315385
4   CHO   9.264286  14.042857  1.235714  1.371429
5   CLE  10.142857  11.978571  1.492857  1.885714
6   DAL  10.400000  14.162500  1.287500  1.643750
7   DEN  10.600000  15.860000  1.880000  0.953333
8   DET  10.326667  13.200000  1.260000  1.173333
9   GSW  11.426667  13.960000  1.733333  2.740000
10  HOU   9.761538  12.823077  1.646154  1.600000
11  IND  10.153333  12.446667  1.460000  1.540000
12  LAC  10.586667  12.033333  1.993333  2.053333
13  LAL  10.921429  11.942857  1.692857  1.585714
14  MEM  10.180000  13.293333  1.646667  1.920000
15  MIA  10.057143  12.728571  1.485714  1.600000
16  MIL   9.326667  13.146667  1.533333  1.986667
17  MIN   9.992857  12.664286  2.371429  1.585714
18  NOP   9.392308  13.415385  1.600000  1.607692
19  NYK  11.192857  11.921429  1.507143  1.964286
20  OKC  10.450000  13.891667  1.483333  1.800000
21  ORL   9.337500  12.225000  1.250000  1.243750
22  PHI  10.860000  15.040000  1.333333  1.786667
23  PHO   9.841176  11.029412  1.400000  1.458824
24  POR   9.638462  12.400000  1.430769  1.438462
25  SAC   9.123077  14.107692  1.584615  1.492308
26  SAS   9.687500  14.900000  1.512500  1.906250
27  TOR  10.671429  11.571429  1.928571  1.978571
28  TOT   9.490566  12.096226  1.469811  1.841509
29  UTA  10.386667  12.673333  1.540000  1.726667
30  WAS  13.450000  11.314286  1.535714  1.292857

In [32]:
#The highest team average total rebound percentage (TRB%)
data_highestaverage[['Tm','TRB%']].sort_values(by='TRB%', ascending=False).head(1)

     Tm   TRB%
30  WAS  13.45

In [34]:
#The gighest team average total rebound percentage (AST%)
data_highestaverage[['Tm','AST%']].sort_values(by='AST%', ascending=False).head(1)

    Tm   AST%
7  DEN  15.86

In [35]:
#The highest team average total rebound percentage (STL%)
data_highestaverage[['Tm','STL%']].sort_values(by='STL%', ascending=False).head(1)

     Tm      STL%
17  MIN  2.371429

In [36]:
#The highest team average total rebound percentage (BLK%)
data_highestaverage[['Tm','BLK%']].sort_values(by='BLK%', ascending=False).head(1)

    Tm  BLK%
9  GSW  2.74

#Question Number 4
###Who is the best player in your opinion based on his record stats? note: you can refer to variables point (PTS), assists, rebounds, or anything else. A combination of several variables would be nice.

In [43]:
#Set a new variable with overall value from attribute below
data_2017['Overall'] = data_2017.iloc[:,5:].mean(axis=1)

In [44]:
#Top 10 best player based on overall value
data_2017[['Player','Overall']].sort_values('Overall', ascending=False).reset_index(drop=True).head(10)

                  Player     Overall
0      Russell Westbrook  353.239674
1           James Harden  321.997448
2     Karl-Anthony Towns  296.665909
3          Anthony Davis  292.279830
4       DeMarcus Cousins  277.706713
5           LeBron James  275.288296
6  Giannis Antetokounmpo  272.875065
7              John Wall  266.400252
8          DeMar DeRozan  263.643017
9         Andrew Wiggins  262.712991

#Question Number 5
###Which team has the best average stat record of their players? Note: you can refer to points, assists, rebounds, or anything else. A combination of several variables would be nice

In [47]:
data_2017[['Tm','Overall']].groupby(by='Tm').sum().sort_values(by='Overall',ascending=False).reset_index().head(5)

    Tm      Overall
0  TOT  3981.714474
1  GSW  1516.591635
2  LAC  1476.895504
3  BOS  1476.857630
4  SAS  1476.409491